/* line 4, ../resources/scss/styles.scss */
body {
  margin: 0;
  padding: 0;
  background-color: #ECECEC;
}

/* line 9, ../resources/scss/styles.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 13, ../resources/scss/styles.scss */
a {
  text-decoration: none;
  color: black;
}

/* line 17, ../resources/scss/styles.scss */
h1 {
  font-size: 45px;
  font-weight: normal;
}

/* line 21, ../resources/scss/styles.scss */
.font-size {
  font-size: 17px;
  margin-top: 25px;
}

/* line 25, ../resources/scss/styles.scss */
.align-center {
  margin: 0 auto 0 auto;
}

/* line 28, ../resources/scss/styles.scss */
.align-left {
  float: left;
}

/* line 31, ../resources/scss/styles.scss */
.align-right {
  float: right;
}

/* line 35, ../resources/scss/styles.scss */
.header-text-align {
  padding: 25px;
}

/* line 38, ../resources/scss/styles.scss */
.wrap-content {
  max-width: 92%;
  margin: 0 auto;
}

/* line 42, ../resources/scss/styles.scss */
.display {
  display: table-cell;
}

/* line 45, ../resources/scss/styles.scss */
a:hover {
  background-color: white;
}

/* line 48, ../resources/scss/styles.scss */
header {
  background-color: white;
  height: 65px;
  line-height: 4;
  border-bottom: 1px solid #ECECEC;
}

/* line 69, ../resources/scss/styles.scss */
section ul li {
  background-color: #ECECEC;
}

/* line 76, ../resources/scss/styles.scss */
div ul {
  padding: 15px;
}
/* line 78, ../resources/scss/styles.scss */
div ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 3px;
}

/* line 87, ../resources/scss/styles.scss */
div h2 {
  color: white;
}

/* line 91, ../resources/scss/styles.scss */
.client-feedback {
  color: #444;
  text-align: center;
}

@media screen and (max-width: 1168px) {
  /* line 97, ../resources/scss/styles.scss */
  .client {
    width: 100%;
  }
}
@media screen and (min-width: 1168px) {
  /* line 102, ../resources/scss/styles.scss */
  .client {
    width: 100%;
    overflow: hidden;
    float: left;
    height: 65px;
  }
}
@media screen and (min-width: 670px) and (max-width: 800px) {
  /* line 113, ../resources/scss/styles.scss */
  div div .rectangular-animate {
    background-image: url("../resources/images/hexagon.svg");
    background-repeat: no-repeat;
    width: 135px;
    height: 250px;
    float: left;
  }
}
@media screen and (min-width: 800px) and (max-width: 930px) {
  /* line 122, ../resources/scss/styles.scss */
  div div .rectangular-animate {
    background-image: url("../resources/images/hexagon.svg");
    background-repeat: no-repeat;
    width: 160px;
    height: 250px;
    float: left;
  }
}
@media screen and (min-width: 930px) and (max-width: 1035px) {
  /* line 131, ../resources/scss/styles.scss */
  div div .rectangular-animate {
    background-image: url("../resources/images/hexagon.svg");
    background-repeat: no-repeat;
    width: 180px;
    height: 250px;
    float: left;
  }
}
@media screen and (min-width: 1035px) and (max-width: 1125px) {
  /* line 140, ../resources/scss/styles.scss */
  div div .rectangular-animate {
    background-image: url("../resources/images/hexagon.svg");
    background-repeat: no-repeat;
    width: 215px;
    height: 250px;
    float: left;
  }
}
@media screen and (min-width: 1125px) {
  /* line 149, ../resources/scss/styles.scss */
  div div .rectangular-animate {
    background-image: url("../resources/images/hexagon.svg");
    background-repeat: no-repeat;
    width: 235px;
    height: 250px;
    float: left;
  }
}
@media screen and (max-width: 670px) {
  /* line 158, ../resources/scss/styles.scss */
  div div .rectangular-animate {
    width: 100%;
    height: 85px;
    background-color: black;
    border-radius: 5px;
    margin: 0 auto 20px;
    padding: 15px 0;
    text-align: center;
  }
}

@media screen and (max-width: 670px) {
  /* line 172, ../resources/scss/styles.scss */
  .rectangle-image-size {
    width: 50px;
    height: 50px;
    margin: 0 15px;
    text-align: center;
    float: left;
  }
}
@media screen and (min-width: 670px) {
  /* line 181, ../resources/scss/styles.scss */
  .rectangle-image-size {
    width: 50px;
    height: 50px;
    margin: 0 70px;
    text-align: center;
  }
}
@media screen and (min-width: 1115px) {
  /* line 190, ../resources/scss/styles.scss */
  .rectangle-text-size {
    margin: auto;
    height: 85px;
    width: 90%;
    margin-top: 50px;
    text-align: center;
  }
}
@media screen and (max-width: 1115px) {
  /* line 199, ../resources/scss/styles.scss */
  .rectangle-text-size {
    margin: 20px auto;
    height: auto;
    width: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 1115px) and (max-width: 1310px) {
  /* line 207, ../resources/scss/styles.scss */
  .section1-rectangle-size {
    margin: 0 auto;
    height: 370px;
    max-width: 100%;
    padding-left: 13%;
  }
}
@media screen and (min-width: 1310px) {
  /* line 215, ../resources/scss/styles.scss */
  .section1-rectangle-size {
    margin: 0 auto;
    height: 370px;
    max-width: 90%;
    padding-left: 13%;
  }
}
@media screen and (max-width: 1115px) {
  /* line 223, ../resources/scss/styles.scss */
  .section1-rectangle-size {
    margin: 0 auto;
    height: 290px;
    max-width: 90%;
    padding-left: 13%;
  }
}
@media screen and (max-width: 1190px) {
  /* line 233, ../resources/scss/styles.scss */
  .section1 {
    margin-top: 100px;
  }
}
@media screen and (min-width: 1190px) {
  /* line 238, ../resources/scss/styles.scss */
  .section1 {
    height: 250px;
    width: 100%;
    max-width: 1400px;
    margin-top: -18px;
  }
}
/* line 246, ../resources/scss/styles.scss */
.textalign-center, section h1, section ul {
  text-align: center;
}

/* line 249, ../resources/scss/styles.scss */
.cursor-pointer {
  cursor: pointer;
}

/* line 252, ../resources/scss/styles.scss */
.header-icon-size {
  width: 50px;
  height: 23px;
  margin-bottom: 10px;
}

/* line 257, ../resources/scss/styles.scss */
.whitespace {
  height: 30px;
  background-color: white;
}

/* line 261, ../resources/scss/styles.scss */
.section1-harness {
  width: 100%;
  margin: 0 auto;
}

/* line 270, ../resources/scss/styles.scss */
.margin-top50 {
  margin-top: 50px;
}

/* line 273, ../resources/scss/styles.scss */
.footer-text {
  color: black;
  font-size: 18px;
  line-height: 1.5;
}

/* line 278, ../resources/scss/styles.scss */
.client-image-size {
  width: 75px;
  height: 750px;
  margin-left: 50px;
}

/* line 283, ../resources/scss/styles.scss */
.margin-left {
  margin-left: 50px;
}

/* line 286, ../resources/scss/styles.scss */
.text-align {
  text-align: center;
}

/* line 289, ../resources/scss/styles.scss */
.bomb {
  background-position: 3px -16px;
  width: 187px;
  height: 43px;
}

/* line 294, ../resources/scss/styles.scss */
.dell {
  background-position: -2448px 0;
  height: 75px;
  width: 75px;
}

/* line 299, ../resources/scss/styles.scss */
.hill {
  background-position: -314px -16px;
  height: 43px;
  width: 253px;
}

/* line 304, ../resources/scss/styles.scss */
.geo {
  background-position: -570px -16px;
  width: 160px;
  height: 45px;
}

/* line 309, ../resources/scss/styles.scss */
.ast {
  background-position: -1422px -12px;
  height: 55px;
  width: 216px;
}

/* line 314, ../resources/scss/styles.scss */
.peo {
  background-position: -1316px -3px;
  width: 107px;
  height: 74px;
}

/* line 319, ../resources/scss/styles.scss */
.micro {
  background-position: 0 0;
  width: 139px;
  height: 70px;
}

/* line 324, ../resources/scss/styles.scss */
.sales {
  background-position: -141px 0;
  width: 216px;
  height: 70px;
  margin-left: 120px;
}

/* line 330, ../resources/scss/styles.scss */
.amazon {
  background-position: -357px 1px;
  width: 163px;
  height: 70px;
  margin-left: 120px;
}

/* line 336, ../resources/scss/styles.scss */
.mongo {
  background-position: -521px 0;
  width: 234px;
  height: 70px;
  margin-left: 120px;
}

/* line 342, ../resources/scss/styles.scss */
.linkedin {
  background-position: -150px 0;
  width: 180px;
  height: 50px;
}

/* line 347, ../resources/scss/styles.scss */
.twit {
  background-position: -150px 0;
  width: 180px;
  height: 50px;
}

/* line 352, ../resources/scss/styles.scss */
.location {
  color: #ff584e;
  border: 2px solid #ff584e;
  border-radius: 30px;
  background-color: white;
  padding: 8px;
  line-height: 11px;
  width: 110px;
}

/* line 363, ../resources/scss/styles.scss */
ul li span {
  background-image: url("../resources/images/featuredClients.png");
  background-repeat: no-repeat;
  margin: 0 auto;
  display: block;
}

/* line 375, ../resources/scss/styles.scss */
ul li a article {
  background-image: url("../resources/images/partnerLogo.png");
  background-repeat: no-repeat;
  margin: 0 auto;
}

/* line 387, ../resources/scss/styles.scss */
footer div div span {
  background-image: url("../resources/images/images-social.png");
  background-repeat: no-repeat;
  margin: 0 auto;
  display: block;
}

/* line 397, ../resources/scss/styles.scss */
.section3 {
  background-color: white;
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}

/* line 405, ../resources/scss/styles.scss */
.section4 {
  padding-top: 95px;
}

/* line 408, ../resources/scss/styles.scss */
.sec3-text-size {
  margin: 0 auto;
  width: 92%;
  height: 70px;
}

/* line 413, ../resources/scss/styles.scss */
.whatsnew-image-size {
  width: 60px;
  height: 60px;
}

/* line 417, ../resources/scss/styles.scss */
.watsnew-linkdiv-size {
  display: table;
  width: 100%;
  height: auto;
  margin-left: 6%;
  padding: 25px 25px;
}

@media screen and (min-width: 1265px) and (max-width: 1365px) {
  /* line 425, ../resources/scss/styles.scss */
  .whatsnew-link {
    width: 320px;
    height: 120px;
    margin-left: 50px;
    background-color: #ECECEC;
    padding-top: 30px;
    float: left;
    border: 3px solid lightgray;
    text-align: center;
  }
}
@media screen and (min-width: 1365px) {
  /* line 437, ../resources/scss/styles.scss */
  .whatsnew-link {
    width: 320px;
    height: 120px;
    margin-left: 50px;
    background-color: #ECECEC;
    padding-top: 30px;
    float: left;
    border: 3px solid lightgray;
    text-align: center;
  }
}
@media screen and (max-width: 1265px) and (min-width: 1046px) {
  /* line 449, ../resources/scss/styles.scss */
  .whatsnew-link {
    width: 310px;
    height: 120px;
    margin-left: 10px;
    background-color: #ECECEC;
    padding-top: 20px;
    padding-bottom: 15px;
    float: left;
    border: 3px solid lightgray;
    padding-left: 16px;
  }
}
@media screen and (max-width: 1046px) and (min-width: 890px) {
  /* line 462, ../resources/scss/styles.scss */
  .whatsnew-link {
    width: 250px;
    height: 120px;
    margin-left: 10px;
    background-color: #ECECEC;
    padding-top: 20px;
    padding-bottom: 15px;
    float: left;
    border: 3px solid lightgray;
    padding-left: 16px;
  }
}
@media screen and (max-width: 890px) and (min-width: 650px) {
  /* line 475, ../resources/scss/styles.scss */
  .whatsnew-link {
    width: 200px;
    height: 120px;
    margin-left: 10px;
    background-color: #ECECEC;
    padding-top: 20px;
    padding-bottom: 15px;
    float: left;
    border: 3px solid lightgray;
    padding-left: 16px;
  }
}
@media screen and (max-width: 650px) {
  /* line 488, ../resources/scss/styles.scss */
  .whatsnew-link {
    width: 220px;
    height: 100px;
    margin-left: 10px;
    background-color: #ECECEC;
    padding-top: 20px;
    padding-bottom: 15px;
    border: 3px solid lightgray;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1265px) {
  /* line 500, ../resources/scss/styles.scss */
  .whatsnew-text {
    color: #444;
    margin-left: 15px;
    font-size: 45px;
  }
}
@media screen and (max-width: 1265px) and (min-width: 1046px) {
  /* line 508, ../resources/scss/styles.scss */
  .whatsnew-text {
    vertical-align: middle;
    color: #444;
    margin-left: 15px;
    font-size: 30px;
  }
}
@media screen and (max-width: 1046px) {
  /* line 516, ../resources/scss/styles.scss */
  .whatsnew-text {
    vertical-align: middle;
    color: #444;
    margin-left: 15px;
    font-size: 20px;
  }
}
/* line 525, ../resources/scss/styles.scss */
div a div:hover {
  border-color: #ff584e;
}

/* line 531, ../resources/scss/styles.scss */
a input:hover {
  background-color: #ff584e;
  color: white;
}
