@import "compass";
@import '_variables.scss';

body{
	margin:0;
	padding: 0;
	background-color: $color-grey;
}
*{
	margin:0;
	padding: 0;
}
a{
	text-decoration: none;
	color: black;
}
h1{
	font-size: 45px;
	font-weight: normal;
}
.font-size{
	font-size: 17px;
	margin-top: 25px;
}
.align-center{
	margin: 0 auto 0 auto;
}
.align-left{
	float: left;
}
.align-right{
	float: right;
}

.header-text-align{
	padding: 25px;
}
.wrap-content{
	max-width: 92%;
	margin: 0 auto;
}
.display{
	display: table-cell;
}
a:hover{
	background-color: white;
}
header{
	background-color:$color-white;
	height: 65px;
	line-height: 4;
	border-bottom: 1px solid #ECECEC;
}
// section{
// 	width: 92%;
// 	height: 370px;
// 	margin:0 auto;
// 	padding: 25px;
// }

section{
	h1{
		@extend .textalign-center;
	}
}
section{
	ul{
		@extend .textalign-center;
		li{
			background-color: #ECECEC;
		}
	}
}

div{
	ul{
		padding: 15px;
		li{
			list-style-type: none;
			display: inline-block;
			margin-left:3px;
		}
	}
}

div{
	h2{
		color: $color-white;
	}
}
.client-feedback{
	color: $color-gray;
    text-align: center;
}

@media screen and (max-width:1168px){
	.client{
		width: 100%;
	}
}
@media screen and (min-width:1168px){
	.client{
		width: 100%;
		overflow: hidden;
		float: left;
		height:65px;
	}
}

div{
	div{
		@media screen and (min-width:670px) and (max-width: 800px){
	.rectangular-animate{
		background-image: url("../resources/images/hexagon.svg");
		background-repeat: no-repeat;
	 	width: 135px;
		height: 250px;
		float:left;
	}
}
@media screen and (min-width:800px) and (max-width: 930px){
	.rectangular-animate{
		background-image: url("../resources/images/hexagon.svg");
		background-repeat: no-repeat;
	 	width: 160px;
		height: 250px;
		float:left;
	}
}
@media screen and (min-width:930px) and (max-width: 1035px){
	.rectangular-animate{
		background-image: url("../resources/images/hexagon.svg");
		background-repeat: no-repeat;
	 	width: 180px;
		height: 250px;
		float:left;
	}
}
@media screen and (min-width:1035px) and (max-width: 1125px){
	.rectangular-animate{
		background-image: url("../resources/images/hexagon.svg");
		background-repeat: no-repeat;
	 	width: 215px;
		height: 250px;
		float:left;
	}
}
@media screen and (min-width:1125px){
	.rectangular-animate{
		background-image: url("../resources/images/hexagon.svg");
		background-repeat: no-repeat;
	 	width: 235px;
		height: 250px;
		float:left;
	}
}
@media screen and (max-width:670px){
	.rectangular-animate{
		width: 100%;
		height: 85px;
		background-color: $color-black;
		border-radius: 5px;
		margin: 0 auto 20px;
		padding: 15px 0;	
		text-align: center;	
	}
}
	}
}
.rectangle-image-size{
	-webkit-transition-duration: 0.8s;
	-webkit-transition-property: -webkit-transform;
	&:hover{
		-webkit-transform: rotate(360deg);
	}
}

@media screen and (max-width:670px){
	.rectangle-image-size{
	width: 50px;
	height: 50px;
	margin: 0 15px;
	text-align: center;	
	float: left;
	}
}
@media screen and (min-width:670px){
	.rectangle-image-size{
	width: 50px;
	height: 50px;
	margin: 0 70px;
	text-align: center;	
	}
}

@media screen and (min-width:1115px){
	.rectangle-text-size{
	margin: auto;
	height: 85px;
	width:90%;
	margin-top: 50px;
	text-align: center;
}	
}
@media screen and (max-width:1115px){
	.rectangle-text-size{
	margin: 20px auto;
	height: auto;
	width:100%;
	text-align: center;
   }
}
		@media screen and (min-width:1115px) and (max-width:1310px){
		.section1-rectangle-size{
		margin: 0 auto;
		height:370px;
		max-width: 100%;
		padding-left: 13%;
	}
}
	@media screen and (min-width:1310px){
		.section1-rectangle-size{
		margin: 0 auto;
		height:370px;
		max-width: 90%;
		padding-left: 13%;
	}
}
@media screen and (max-width:1115px){
		.section1-rectangle-size{
		margin: 0 auto;
		height:290px;
		max-width: 90%;
		padding-left: 13%;
	}
}


@media screen and (max-width:1190px){
	.section1{
		margin-top: 100px;
	}
}
@media screen and (min-width:1190px){
	.section1{
	height: 250px;
	width: 100%;
	max-width: 1400px;
	margin-top: -18px;
	}
}

.textalign-center{
	text-align: center;
}
.cursor-pointer{
	cursor: pointer;
}
.header-icon-size{
	width: 50px;
	height: 23px;
	margin-bottom: 10px;
}
.whitespace{
	height: 30px;
	background-color: $color-white;
}
.section1-harness{
	width: 100%;
	margin:0 auto;
}
// .section1-rectangle-size{
// 	max-width: 80%;
// 	margin: 0 auto;
// 	height:370px;
// }
.margin-top50{
	margin-top: 50px;
}
.footer-text{
	color: $color-black;
    font-size: 18px;
    line-height:1.5;
}
.client-image-size{
	width: 75px;
	height: 750px;
	margin-left: 50px;
}
.margin-left{
	margin-left: 50px;
}
.text-align{
    text-align: center;
}
.bomb{
	background-position: 3px -16px;
	width: 187px;
	height: 43px;
}
.dell{
	background-position: -2448px 0;
  	height: 75px;
  	width: 75px;
}
.hill{
	background-position: -314px -16px;
    height: 43px;
    width: 253px;
}
.geo{
	background-position: -570px -16px;
    width: 160px;
    height: 45px;
}
.ast{
	background-position: -1422px -12px;
    height: 55px;
    width: 216px;
}
.peo{
	background-position: -1316px -3px;
    width: 107px;
    height: 74px;
}
.micro{
    background-position: 0 0;
    width: 139px;
    height: 70px;
}
.sales{
	background-position: -141px 0;
    width: 216px;
    height: 70px;
     margin-left: 120px;
}
.amazon{
	background-position: -357px 1px;
    width: 163px;
    height: 70px;
    margin-left: 120px;
}
.mongo{
	background-position: -521px 0;
    width: 234px;
    height: 70px;
    margin-left: 120px;
}
.linkedin{
	background-position: -150px 0;
    width: 180px;
    height: 50px;
}
.twit{
	background-position: -150px 0;
    width: 180px;
    height: 50px;
}
.location{
	  color: $color-orange;
	  border: 2px solid #ff584e;
	  border-radius: 30px; 
	  background-color: white; 
	  padding: 8px; 
	  line-height: 11px; 
	  width: 110px;
}
ul{
	li{
		span{
				background-image: url("../resources/images/featuredClients.png");
				background-repeat: no-repeat;
				margin: 0 auto;
				display: block;
			}
	}
}

ul{
	li{
		a{
			article{
				background-image: url("../resources/images/partnerLogo.png");
				background-repeat: no-repeat;
				margin: 0 auto;
			}
		}
	}
}

footer{
	div{
		div{
			span{
				background-image: url("../resources/images/images-social.png");
			    background-repeat: no-repeat;
			    margin: 0 auto;
			    display: block;
			}
		}
	}
}

.section3{
	background-color: $color-white;
	width: 100%;
	height: auto;    
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}
.section4{
	padding-top: 95px;
}
.sec3-text-size{
	margin: 0 auto;
	width: 92%;
	height: 70px;
}
.whatsnew-image-size{
	width: 60px;
	height: 60px;
}
.watsnew-linkdiv-size{
	display: table; 
	width: 100%;
	height: auto; 
	margin-left: 6%;
	padding: 25px 25px;
}
.margin{
	margin: 0 auto;
}
@media screen and (min-width:1265px) and (max-width: 1365px){
	.whatsnew-link{
	width: 320px;
	height: 120px;
	margin-left: 50px;
	background-color: $color-grey;
	padding-top: 30px;
	float: left;
	border: 3px solid lightgray;
	text-align: center;
}
}
@media screen and (min-width:1365px){
	.whatsnew-link{
	width: 320px;
	height: 120px;
	margin-left: 50px;
	background-color: $color-grey;
	padding-top: 30px;
	float: left;
	border: 3px solid lightgray;
	text-align: center;
}
}
@media screen and (max-width:1265px) and (min-width: 1046px) {
	.whatsnew-link{
	width: 310px;
	height: 120px;
	margin-left: 10px;
	background-color: $color-grey;
	padding-top: 20px;
	padding-bottom: 15px;
	float: left;
	border: 3px solid lightgray;
	padding-left: 16px;
}
}
@media screen and (max-width:1046px) and (min-width: 890px) {
	.whatsnew-link{
	width: 250px;
	height: 120px;
	margin-left: 10px;
	background-color: $color-grey;
	padding-top: 20px;
	padding-bottom: 15px;
	float: left;
	border: 3px solid lightgray;
	padding-left: 16px;
}
}
@media screen and (max-width:890px) and (min-width:650px){
	.whatsnew-link{
	width: 200px;
	height: 120px;
	margin-left: 10px;
	background-color: $color-grey;
	padding-top: 20px;
	padding-bottom: 15px;
	float: left;
	border: 3px solid lightgray;
	padding-left: 16px;
}
}
@media screen and (max-width:650px){
	.whatsnew-link{
	width: 220px;
	height: 100px;
	margin-left: 10px;
	background-color: $color-grey;
	padding-top: 20px;
	padding-bottom: 15px;
	border: 3px solid lightgray;
	margin: 0 auto;
}
}
@media screen and (min-width:1265px){
	.whatsnew-text{
	color: #444;
	margin-left: 15px;
	font-size: 45px;
}
}

@media screen and (max-width:1265px) and (min-width: 1046px){
	.whatsnew-text{
	vertical-align: middle;
	color: #444;
	margin-left: 15px;
	font-size: 30px;
}
}
@media screen and (max-width:1046px){
	.whatsnew-text{
	vertical-align: middle;
	color: #444;
	margin-left: 15px;
	font-size: 20px;
}
}
div{
	a{
		div:hover{
			border-color: $color-orange;
		}		
	}
}
a{
	input:hover{
		background-color: $color-orange;
		color: white;
	}
}